In [2]:
import pandas as pd
import re
import os
os.chdir('film dataset')

In [3]:
# Задание №1
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
join = ratings.merge(movies, on = 'movieId', how = 'left')

def classificator(table):
    
    if table['rating'] <= 2:
        return 'низкий рейтинг'
    elif 2 < table['rating'] < 4.5:
        return 'средний рейтинг'
    elif 4.5 <= table['rating'] <= 5:
        return 'высокий рейтинг' 

join['class'] = join.apply(classificator, axis = 1)
join

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,средний рейтинг
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,высокий рейтинг
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,высокий рейтинг
...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller,средний рейтинг
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller,высокий рейтинг
100833,610,168250,5.0,1494273047,Get Out (2017),Horror,высокий рейтинг
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi,высокий рейтинг
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,средний рейтинг

In [4]:
# Задание №2
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
queries = pd.read_csv('keywords.csv')
def counter(table):
    cities = []
    for element in geo_data:
        cities.extend(geo_data[element])
    for el in enumerate(cities):
        if el[1] in table['keyword']:
            if 0 <= el[0] <= 2:
                return 'Центр'
            elif 3 <= el[0] <= 5:
                return 'Северо-Запад'
            elif 6 <= el[0] <= 8:
                return 'Дальний Восток'
            
    else:
        return 'undefined'

In [32]:
queries['region'] = queries.apply(counter, axis=1)

In [33]:
queries[queries.region == 'Дальний Восток']

                                       keyword   shows          region
1063                       фарпост владивосток  176951  Дальний Восток
2175                            дром хабаровск   98361  Дальний Восток
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
...                                        ...     ...             ...
90402                     аэропорт владивосток    4658  Дальний Восток
92442  монастырев владивосток официальный сайт    3870  Дальний Восток
92843                    проститутки хабаровск    4120  Дальний Восток
93872                        биглион хабаровск    3890  Дальний Восток
95572                 точное время владивосток    4142  Дальний Восток

[94 rows x 3 columns]

In [5]:
# Задание №3
years = []
year = 1950
while year != 2011:
    years.append(year)
    year += 1
def production_year(table):
    for element in years:
        if str(element) in table.title:
            return element
    else:
        return '1900'

In [ ]:
join['year'] = join.apply(production_year, axis=1)

In [89]:
join.groupby('year')['rating'].mean().sort_values(ascending=False).head(20)

year
1957    4.039535
1954    4.009191
1962    3.969466
1952    3.953125
1972    3.944293
1964    3.940160
1974    3.935622
1967    3.922572
1975    3.879121
1958    3.842424
1971    3.841463
1966    3.823684
1950    3.813665
1968    3.812212
1977    3.810406
1951    3.804945
1959    3.794239
1981    3.760732
1976    3.760047
1973    3.757764
Name: rating, dtype: float64