In [6]:
import pandas as pd

In [34]:
# Задание № 1
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

join = ratings.merge(movies, on = 'movieId', how = 'left')
rating_5_films = join[join['rating'] >= 5]
rating_5_films['title'].value_counts().head(10)

Shawshank Redemption, The (1994)                         153
Pulp Fiction (1994)                                      123
Forrest Gump (1994)                                      116
Matrix, The (1999)                                       109
Star Wars: Episode IV - A New Hope (1977)                104
Schindler's List (1993)                                   92
Silence of the Lambs, The (1991)                          92
Godfather, The (1972)                                     88
Fight Club (1999)                                         81
Star Wars: Episode V - The Empire Strikes Back (1980)     80
Name: title, dtype: int64

In [50]:
# Задание № 2

power = pd.read_csv('power.csv')
# Фильтр искомых стран
baltic_countries = power[(power['country'] == 'Estonia') | (power['country'] == 'Lithuania') | (power['country'] == 'Latvia')]
# Фильтр искомых категорий
baltic_categories = baltic_countries[(baltic_countries['category'] == 4) | (baltic_countries['category'] == 12) | (baltic_countries['category'] == 21) ]
# Фильтр по годам
year_filter = baltic_categories[(baltic_categories['year'] <= 2010) & (baltic_categories['year'] >= 2005) ]
# Исключение отрицательного потребеления + подсчет
final_result = year_filter[year_filter.quantity >0].quantity.sum()

final_result

240580.0

In [55]:
pd.read_html('https://fortrader.org/quotes')[4]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Макдональдс Акции Макдональдс,184.18,-0.23,-0.12,NaN
1,Microsoft Microsoft Corp.,183.26,-0.25,-0.14,NaN
2,APPLE Акции APPLE,318.22,-0.67,-0.21,NaN
3,Yandex Акции яндекса,40.27,0.01,0.02,NaN
4,Toyota Акции Тойоты,120.94,3.38,2.88,NaN
5,Volkswagen Курс акций Volkswagen,132.74,0.02,0.02,NaN
6,"Amazon.com, Inc. Amazon.com, Inc.",2431.12,79.86,3.40,NaN
7,Boeing Company (The) Common Sto Boeing Company...,137.21,-0.32,-0.23,NaN
8,Coca-Cola Company (The) Common Coca-Cola Compa...,45.00,-0.03,-0.07,NaN
9,Netflix Акции Netflix (NFLX),428.60,-0.72,-0.17,NaN
10,Walt Disney Акции Walt Disney (DIS),117.82,-0.20,-0.17,NaN
11,Facebook Цена акций Facebook,234.80,-0.11,-0.05,NaN
12,Tesla Цены на акции Тесла,816.41,-0.47,-0.06,NaN
13,Twiter Цена акций твитера,32.59,-0.03,-0.09,NaN
14,"Hasbro Цена на акции Hasbro, Inc.",66.50,-0.19,-0.28,NaN
15,Сименс,93.88,-0.01,-0.01,NaN